body {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #ffffffb9;
    box-shadow: 5px 5px 10px black;
    border: 5px solid black;
    height: auto;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 5px;
    width: 120%;
    height: 25px;
    margin-bottom: 10px;
    background-color: rgba(85, 107, 47, 0.222);
}

button {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0px 10px;
}
/* Hide the up and down arrows for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


button:hover {
    background-color: #ddd;
}
.result {
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}
